<%= form_with model: article do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div>
        <p><%= message %><p>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div>
        <p><%= message %><p>
      </div>
    <% end %>
  </div>


  <div>
    <%= f.select :status, [["PUBLIC", 'public'], ["PRIVATE", 'private'], ["ARCHIVED",'archived']], selected: 'private' %>
  </div>

  <div>
    <h3>Comments: </h3>
    <ul>
      <%= f.fields_for :comments |comment_f| do %>
        <li>
          <%= comment_f.label :commenter %>
          <%= comment_f.text_field :commenter %>

          <%= comment_f.label :body %>
          <%= comment_f.text_field :body %>

          <%= comment_f.check_box :_destroy %>
        <li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>