<%= form_with model: article do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div>
        <p><%= message %><p>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div>
        <p><%= message %><p>
      </div>
    <% end %>
  </div>


  <div>
    <%= f.select :status, [["PUBLIC", 'public'], ["PRIVATE", 'private'], ["ARCHIVED",'archived']], selected: 'private' %>
  </div>

  <%= f.time_zone_select :time_zone %>
  <%= f.date_select :dlll %>
  <%= select_year 1999, prefix: "party" %>
  <%#= f.collection_radio_buttons :article_id, Article.order(:title), :id, :title %>
  <div>
    <%= f.submit %>
  </div>
<% end %>